*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --radius: 15px;
  --light: #F9EEF6;
  --dark: #8B7285;
  --transition: all 200ms cubic-bezier(0.74, 0.01, 0.39, 0.96);
}

.audio {
    margin: 40px auto 0 auto;
    display: grid;
    grid-gap: 1.5rem;
    position: relative;
    z-index: 10;
    max-width: 500px;
        
    &__title {
        @include font(36px, 34px, 400);
        color: $sunset-red;
        background-color: var(--light);
        padding: 1.5rem 2.5rem;
        width: 100%;
        border-radius: var(--radius);
        text-align: center;
    }
      
    &__img {
        /* background-image: url('photos/deep-space.jpg'); */
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        max-width: 500px;
        border-radius: var(--radius);
    }
      
    &__player {
        background-color: var(--light);   
        border-radius: var(--radius);
        position: relative;
        z-index: initial;
        display: flex;
        justify-content: space-around;
        transition: var(--transition);
    }
      
    &__player.playing {
        border-radius: 0 0 var(--radius) var(--radius);
    }
      
    &__action {
        background-color: var(--light);
        color: $sunset-red;
        font-size: 3rem;
        display: grid;
        place-items: center;
        border: 0;
        cursor: pointer;
    }
      
    &__action:is(:hover, :focus) {
        color: #c79292;
        outline: none;
        transition: var(--transition);
    }
      
    &__player-progress {
        position: absolute;
        z-index: -1;
        height: 10px;
        width: 100%;
        top: -10%;
        background-color: $sunset-red;
        overflow: hidden;
        border-radius: var(--radius) var(--radius) 0 0;
        transform: translateY(120%);
        transition: var(--transition);
        cursor: pointer;
    }
      
    &__player.playing &__player-progress {
        transform: translateY(0);
        z-index: 0;
    }    
}

.progress {
    position: absolute;
    background-color: white;
    width: 0%;
    height: 100%;
    cursor: pointer;
}

